*{
    font-family: Fire Sans,Droid Sans,Helvetica Neue, sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "head head head"
        "main main sidebar"
        "main main sidebar";
}

.user-page img {
    max-width: 200px;
    max-height: 200px;
}

a.active {
    color: burlywood;
}